body {
  background-color: rgba(17, 17, 17, 0.9333333333);
}

nav {
  background-color: #111;
  box-shadow: -2px 2px 5px 3px rgba(148, 53, 18, 0.3607843137);
}
nav a {
  color: rgba(197, 92, 17, 0.9019607843);
  text-shadow: 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137);
  font-weight: bold;
}
nav a:hover {
  color: rgba(148, 53, 18, 0.3607843137);
}
nav span.navbar-toggler-icon {
  color: rgba(197, 92, 17, 0.9019607843);
}
nav .navbar-toggler {
  border: 2px solid rgba(197, 92, 17, 0.9019607843);
  box-shadow: -2px 2px 4px 3px rgba(148, 53, 18, 0.3607843137);
}
nav .navbar-toggler i {
  color: rgba(197, 92, 17, 0.9019607843);
  text-shadow: -2px 2px 3px rgba(148, 53, 18, 0.3607843137), -2px 2px 3px rgba(148, 53, 18, 0.3607843137);
}

.start {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #110505, #331111);
}
@media only screen and (max-width: 769px) {
  .start {
    background-image: linear-gradient(#110505, #331111);
  }
}
.start .starting-left-div {
  height: 100vh;
  color: rgba(197, 92, 17, 0.9019607843);
  text-align: center;
  text-shadow: 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137);
}
@media only screen and (max-width: 769px) {
  .start .starting-left-div {
    height: 40vh;
  }
}
.start .starting-left-div .first-line {
  font-weight: bold;
  font-size: 2.5vw;
}
.start .starting-left-div .first-line text {
  font-size: 3vw;
}
@media only screen and (max-width: 769px) {
  .start .starting-left-div .first-line {
    font-size: 4vh;
  }
  .start .starting-left-div .first-line text {
    font-size: 4.5vh;
  }
}
.start .starting-left-div .second-line {
  font-weight: bold;
  font-size: 2vw;
}
@media only screen and (max-width: 769px) {
  .start .starting-left-div .second-line {
    font-size: 3.5vh;
  }
}
.start .starting-left-div .second-line div {
  display: inline-block;
}
.start .starting-left-div .second-line .square {
  font-size: 2.7vw;
  position: relative;
  left: -0.5vw;
}
@media only screen and (max-width: 769px) {
  .start .starting-left-div .second-line .square {
    font-size: 5vh;
  }
}
.start .starting-left-div .second-line .square-blink-off {
  opacity: 0;
}
.start .starting-right-div {
  height: 100vh;
  text-align: center;
}
@media only screen and (max-width: 769px) {
  .start .starting-right-div {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 50vh;
  }
}
.start .starting-right-div div .img-me {
  max-width: 100%;
  border-radius: 0.2vw;
  box-shadow: -2px 2px 4px 1px rgba(148, 53, 18, 0.3607843137);
  max-height: 60vh;
}
@media only screen and (max-width: 769px) {
  .start .starting-right-div div .img-me {
    max-height: 40vh;
    margin-top: 10vh;
  }
}
@media only screen and (max-width: 769px) {
  .start .starting-right-div div {
    max-height: 40vh;
  }
}

.divider-neon {
  height: 0.1rem;
  width: auto;
  box-shadow: 0 2px 5px 5px rgba(148, 53, 18, 0.3607843137);
  background-color: rgba(197, 92, 17, 0.9019607843);
}

.about {
  width: 100%;
  background-color: #110505;
}
.about .row {
  margin-right: 0;
}
.about .about-col {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.about .about-col .box {
  padding: 1rem;
  width: 92%;
  margin-left: 5vw;
  background-image: linear-gradient(#331111, #331111);
  border: solid 0.3vw rgba(197, 92, 17, 0.9019607843);
  border-radius: 0.5rem;
  box-shadow: -3px 3px 4px 2px rgba(148, 53, 18, 0.3607843137);
}
.about .about-col .box .portfolio-text-header {
  text-align: center;
  color: rgba(197, 92, 17, 0.9019607843);
  font-weight: bold;
  font-size: 1.4rem;
  text-shadow: 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137), 0px 0px 4px rgba(148, 53, 18, 0.3607843137);
}
.about .about-col .box .row {
  margin-bottom: 0;
}
@keyframes note-shadow-on-animation {
  50% {
    box-shadow: 0 0 4px 0.3px rgba(197, 92, 17, 0.8784313725);
  }
}
@keyframes note-shadow-off-animation {
  50% {
    box-shadow: 0 0 4px 1px #110505;
  }
}
.about .about-col .box .box-box {
  margin-bottom: 0 !important;
  padding: 0.6rem !important;
}
.about .about-col .box .box-box .active {
  background-color: rgba(148, 53, 18, 0.3607843137);
  box-shadow: 0 0 2px 2px rgba(148, 53, 18, 0.3607843137);
}
.about .about-col .box .box-box div {
  background-color: rgba(197, 92, 17, 0.6980392157);
  padding: 0vw;
  box-shadow: 0 0 4px 0.3px rgba(197, 92, 17, 0.8784313725);
  transition: 0.3s ease-in-out;
  border-radius: 0.4rem;
}
.about .about-col .box .box-box div:hover {
  background-color: rgba(148, 53, 18, 0.3607843137);
  box-shadow: 0 0 0px 0px rgba(148, 53, 18, 0.3607843137);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.about .about-col .box .box-box div img {
  margin: 0%;
  max-width: 100%;
  max-height: 100%;
}
.about .about-col .right-box {
  transition: opacity 0.4s linear;
  margin-left: 3vw;
  margin-right: 0;
  display: block;
}
@media only screen and (max-width: 769px) {
  .about .about-col .right-box {
    display: none;
  }
}
.about .about-col .right-box img {
  margin-top: 0.6rem;
  float: left;
  width: 30vh;
  margin-right: 0.5rem;
}
.about .about-col .right-box .portfolio-text {
  margin-top: 0.2rem;
  text-align: justify;
  color: rgb(255, 206, 183);
  font-size: 1rem;
  width: 100%;
}

.modal img {
  margin-top: 0.6rem;
  float: left;
  width: 30vh;
  margin-right: 0.5rem;
}
.modal .portfolio-text {
  margin-top: 0.2rem;
  text-align: justify;
  color: rgb(255, 206, 183);
  font-size: 1rem;
  width: 100%;
}/*# sourceMappingURL=style.css.map */