$nav: #110505;
$font-shadow: #c04d00be;
$font: #ef883fda;  //You are also obligated to change 'nav-toggler-span-icon' variable (remember to convert to rgba)

$font-portfolio: rgba(255, 159, 104, 0.478);
$a-portfolio: #c04d00f2;

$start-bg-1: #110505;
$start-bg-2: #331111;

$notes-bg-1: $start-bg-1;
$notes-bg-2: $start-bg-2;
$note: #c04d0084;
$note-active: #c04d00cf;
$note-shadow: $font-shadow;
$note-border: $note;
$note-hover-time: 0.3s;

$modal-bg: $start-bg-2;
$modal-shadow: $font-shadow;

$image-shadow: #110505b2;

@use "sass:string";

nav{
    background-color: $nav;
    a{
        transition: 0.4s;
        color: $font-shadow;
        // text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
        // font-weight: bold;
        &:hover{
            transition: 0.4s;
            color: $font;
            text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
        }
    }
    
    .active{
        color: $font;
        text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
    }

    span.navbar-toggler-icon{
        color: $font;
    }
    

    .navbar-toggler{
        // border: 2px solid $font;
        box-shadow: 0px 0px 4px 3px $font-shadow;
        i{ //todo jeden pod drugim po kliknięciu
            color: $font;
            text-shadow: 0px 0px 3px $font-shadow, 0px 0px 3px $font-shadow;
        }
    }
    
    box-shadow: 0px 2px 5px 3px $font-shadow;
}
.start{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, $start-bg-1, $start-bg-2);
    @media only screen and (max-width: 769px) {
        background-image: linear-gradient($start-bg-1, $start-bg-2);
    }
    .starting-left-div{
        height: 100vh; 
        @media only screen and (max-width: 769px) {
            height: 40vh; 
        }
        color: $font;
        text-align: center;
        text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
        .first-line{
            font-weight: bolder;
            font-size: 2.5vw;
            text{
                font-size: 3vw;
            }
            @media only screen and (max-width: 769px) {
                font-size: 4vh;
                text{
                    font-size: 4.5vh;
                }
            }
        }
        .second-line{
            // font-weight: bold;
            font-size: 2vw;
            @media only screen and (max-width: 769px) {
                font-size: 3.5vh;
            }
            div{
                display: inline-block;
            }
            .square{
                font-size: 2.7vw;
                position: relative;
                left: -0.5vw;
                @media only screen and (max-width: 769px) {
                    font-size: 5vh;
                }
            }
            .square-blink-off{
                opacity: 0;
            }
        }
    }
    .starting-right-div {
        height: 100vh; 
        text-align: center;
        @media only screen and (max-width: 769px) {
            margin-top: 5vh;
            margin-bottom: 5vh;
            height: 50vh; 
        }
        div{
            .img-me{
                max-width: 100%;
                border-radius: 0.2vw;
                box-shadow: 0px 0px 6px 2px $image-shadow;
                max-height: 60vh;
                transform: scaleX(-1);
                @media only screen and (max-width: 769px) {
                max-height: 40vh;
                margin-top: 10vh;
                }
            }
            @media only screen and (max-width: 769px) {
                max-height: 40vh;
            }
        }
    }
}

.divider-neon{
    // height: 0.1rem;
    width: auto;
    box-shadow: 0px -2px 5px 3px $font-shadow;  //todo shadow w dół
    background-color: $font;

}

.about{
    background-color: $start-bg-1;
    padding-top: 10vh;
    display: flex;
    .about-left{
        padding-top: 1rem;
        margin-left: 5vw;
        width: 59vw;
        height: 100%;
        background-image: linear-gradient(-135deg, $start-bg-2, $start-bg-1);
        box-shadow: inset 0px 0px 7px 3px $font-shadow;
        border-radius: .5rem;
        position: relative;
        @media only screen and (max-width: 769px) {
            display: none;
        }
        .about-text{
            margin-left: 2vw;
            margin-right: 2vw;
            text-align: justify;
            color: $font-portfolio;
            margin-bottom:3.5rem;
            opacity: 1;
            transition: opacity.5s;
        }
        .hiding{
            opacity: 0;
            transition: opacity .5s;
        }
        .arrow{
            color: $font-shadow;
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
            font-size: 2rem;
            font-weight: bold;
            // float: right;
            width: 2rem;
            transition: .5s;
            
            &:hover{
                color: $font;
                text-shadow: 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
                transition: .5s;
                cursor: pointer;
                text-decoration: none;
            }
        }
        .arrow-left{
            left: 1rem;
            transform: rotate(180deg);
        }
    }
    .about-right{
        margin-left: 2vw;
        width: 29vw;
        background-image: linear-gradient(135deg, $start-bg-2, $start-bg-1);
        box-shadow: inset 0px 0px 7px 3px $font-shadow;
        border-radius: .5rem;
        padding: 1rem;
        @media only screen and (max-width: 769px) {
            margin-left: 5vw;
            width: 90vw;
        }
    }
    .about-text-header{
        margin-bottom: 0.8rem;
        text-align: center;
        color: $font;
        font-weight: bold;
        font-size: 1.4rem;
        text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
    }
    .data-line-header{ 
        text-align: center;
        color: $font-portfolio;
        font-weight: bold;
        font-size: 1.1rem;
        // text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
    }
    .data-line{
        margin-bottom: 0.4rem;
        text-align: center;
        // font-weight: bold;
        font-size: 1rem;
        a{
            color: $font-shadow;
            transition: .5s;
            &:hover{
                color: $font;
                text-shadow: 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
                transition: .5s;
                cursor: pointer;
                text-decoration: none;
            }
            i{
                margin-top: 0.5rem;
                margin-right: 1rem;
                font-size: 1.6rem;
            }
        }
    }
}


.portfolio{//todo weź tam podziel na po równo
    width: 100%;
    background-color: $start-bg-1;
    .row-custom{
        margin-right: 0;
        margin-left: 0;
        padding-left: 5vw;
        padding-right: 3vw;
        display: flex;
    }
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .portfolio-col-left{
        width: 36.5vw;
        @media only screen and (max-width: 769px) {
            width: 90vw;
        }
    }
    .portfolio-col-right{
        margin-left: 2vw;
        width: 51.5vw;
        @media only screen and (max-width: 769px) {
            display: none;
        }
    }

    .portfolio-col{
        padding-top: 10vh;
        padding-bottom: 10vh;
        .box{
            padding: 1rem;

            // width: 70%;
            // margin-left: 5vw;
            background-image: linear-gradient(225deg, $notes-bg-2, $notes-bg-1);
            // border: solid 0.3vw $font;
            border-radius: 0.5rem;
            box-shadow: inset 0px 0px 7px 3px $font-shadow;

            .portfolio-text-header{
                margin-bottom: 0.4rem;
                text-align: center;
                color: $font;
                font-weight: bold;
                font-size: 1.4rem;
                text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
            }

            .row{
                margin-bottom: 0;
                margin-left: 0;
            }
            
            @keyframes note-shadow-on-animation{
                50% {box-shadow: 0 0 4px 0.3px $note-shadow;}
            }
            @keyframes note-shadow-off-animation{
                50% {box-shadow: 0 0 4px 1px $start-bg-1;}
            }

            .box-box{
                margin-bottom: 0 !important;
                padding: 0.6rem !important;
                .active{
                    background-color: $note-active;  
                    box-shadow: 0 0 4px 3px $note-active;
                }
            }
            .box-box  div{  
                background-color: $note;  
                padding: 0vw;
                box-shadow: 0 0 4px 3px $image-shadow;
                transition: $note-hover-time ease-in-out;
                border-radius: 0.4rem;
                &:hover{
                    background-color: $note-active;  
                    box-shadow: 0 0 4px 3px $note-active;
                    transition: $note-hover-time linear;
                    cursor: pointer;
                }
                img{
                    margin: 0%;
                    max-width: 100%;
                    max-height: 100%;
                    
                }
            }
        }
        .box-left{
            padding-bottom: 2rem;
        }

        .right-box{
            background-image: linear-gradient(135deg, $notes-bg-2, $notes-bg-1);
        }
        .right-box{
            transition: opacity .4s linear;
            // margin-left: 3vw;
            margin-right: 0;
            display: block;
            padding-left: 2rem;
            padding-right: 2rem;
            @media only screen and (max-width: 769px) {
                display: none;
            }
            img{
                margin-top: 0.6rem;
                float: left;
                max-width: 20rem;
                max-height: 15rem;
                margin-right: 2rem;
                margin-bottom: 1rem;
                border-radius: 3px;
                box-shadow: 0px 0px 15px 6px $image-shadow;
            }
            
            .portfolio-text{
                margin-top: 0.2rem;
                text-align: justify;
                color: $font-portfolio;
                font-size: 1rem;
                // float: left;
                width: 100%;
                a{
                    color: $a-portfolio;
                    transition: .5s;
                    &:hover{
                        opacity: 1;
                        color: $font;
                        text-shadow: 0 0 3px $font-shadow;
                        transition: .5s;
                        text-decoration: none;
                    }
                }
                // text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
            }
        }
    }
}


.modal{
    
    // filter: blur(8px); //todo 
    background-image: linear-gradient(#0000001d, #0000002d);

    .modal-lg{
        max-width: 90% !important;
    }
    // background-color: $bg;
    .modal-content{
        background-image: linear-gradient(to top, $start-bg-1, $start-bg-2);
        // border: $font 0.2rem solid;
        box-shadow: inset 0px 0px 8px 4px $modal-shadow;
        .modal-header{
            text-align: center;
            color: $font;
            font-weight: bolder !important;
            font-size: 1.4rem;
            text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
            border-bottom: $font 0rem solid;
             box-shadow: inset 0px 0px 2px 1px $font-shadow;
        }
        .close{
            opacity: 1;
            transition: opacity .5s;
            color: $font-shadow;
            font-weight: bolder !important;
            text-shadow: none;
            font-size: 1.8rem;
            // margin-right: 0px;
            // margin-top: 0px;
            height: 100%; //todo jak close ma wyglądać
            // text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
            span{
                background-color: #fff0;
                border:none;
                color: $font-shadow;
                box-shadow: 0px 0px 10px 2px $font-shadow;
                &:hover{
                    opacity: 1;
                    color: $font;
                    transition: .5s;
                }
            }
            transition: .5s;
            &:hover{
                opacity: 1;
                color: $font;
                transition: .5s;
                text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
            }
            
        }
        img{
            margin-top: 1rem;
            margin-right: 2rem;
            border-radius: 3px;
            box-shadow: 0px 0px 15px 6px $image-shadow;
            float: left;
            margin-bottom: 1.5rem;
            width: 100%;
            max-width: 20rem;
            max-height: 20rem;
        }

        .modal-body{
            box-shadow: inset 0px 0px 2px 1px $font-shadow;
            padding-left: 5vw;
            padding-right: 5vw;
        }
        
        .portfolio-text{
            margin-top: 0.2rem;
            text-align: justify;
            color: $font-portfolio;
            font-size: 1rem;
            // float: left;
            width: 100%;
            // text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
        }

        .modal-footer{
            border-top: $font 0rem solid;
            box-shadow: inset 0px 0px 2px 1px $font-shadow;
            justify-content: center;
            button{
                background-color: #fff0;
                border:none;
                box-shadow: 0px 0px 10px 2px $font-shadow;
                color: $font-shadow;
                font-weight: bold;
                padding: 0.1rem 0.4rem 0.3rem 0.4rem;
                transition: opacity .5s;
                &:hover{
                    color: $font;
                    transition: .5s;  //todotime "zaświecać tak bzyt bzyt" ~asia
                }
            }
        }
    }
        
}

.clickable-icon-neon{
    color: $font-shadow;
    text-shadow: none;
    box-shadow: 0px 0px 10px 2px $image-shadow;
    transition: .5s;
    &:hover{
        color: $font;
        transition: .5s;
        text-shadow:   0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow, 0px 0px 4px $font-shadow;
    }
}